<ion-header>
  <ion-navbar>

    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>Futbol Lunes!</ion-title>

    <ion-buttons end>
        <button ion-button icon-only solid [navPush]="adminPage" *ngIf="isAdmin">
          <ion-icon name="cog"></ion-icon>
        </button>
        <button ion-button icon-only solid [navPush]="profilePage" *ngIf="isAuthenticated" >
          <ion-icon name="person"></ion-icon>
        </button>
        <button icon-start ion-button solid round [navPush]="loginPage" *ngIf="!isAuthenticated" color="secondary">
          <ion-icon name="md-log-in"></ion-icon>
        </button>        
        <button icon-start ion-button solid round (click)="logout()" *ngIf="isAuthenticated" color="danger">
          <ion-icon name="md-log-out"></ion-icon>
        </button>        
    </ion-buttons>

  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2>Bienvenido! </h2>

  <button ion-button [navPush]="matchPage" icon-start>
    <ion-icon name="football"></ion-icon>
    Ir al partido
  </button>
  <button *ngIf="isAdmin" ion-button [navPush]="createMatchPage" icon-start>
    <ion-icon name="cloud-upload"></ion-icon>
    Crear nuevo partido
  </button>
</ion-content>
