<ion-header>
  <ion-navbar>

    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>Home</ion-title>

    <button ion-button icon-only [navPush]="matchPage">
      <ion-icon name="football"></ion-icon>
    </button>

    <ion-buttons end>
        <button ion-button icon-only [navPush]="adminPage" *ngIf="isAdmin">
          <ion-icon name="cog"></ion-icon>
        </button>
        <button ion-button icon-only [navPush]="loginPage" *ngIf="!isAuthenticated">
          <ion-icon name="key"></ion-icon>
        </button>
        <button ion-button icon-only [navPush]="profilePage" *ngIf="isAuthenticated">
          <ion-icon name="person"></ion-icon>
        </button>
        <button ion-button (click)="logout()" *ngIf="isAuthenticated">
          Logout
        </button>        
      </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
</ion-content>
