<ion-header>
  <ion-navbar>

    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>Futbol Lunes!</ion-title>

    <ion-buttons end>
        <button ion-button icon-only solid [navPush]="adminPage" *ngIf="isAdmin">
          <ion-icon name="cog"></ion-icon>
        </button>
        <button ion-button icon-only solid [navPush]="profilePage" *ngIf="isAuthenticated" >
          <ion-icon name="person"></ion-icon>
        </button>
        <button icon-start ion-button solid round [navPush]="loginPage" *ngIf="!isAuthenticated" color="secondary">
          <ion-icon name="md-log-in"></ion-icon>
        </button>        
        <button icon-start ion-button solid round (click)="logout()" *ngIf="isAuthenticated" color="danger">
          <ion-icon name="md-log-out"></ion-icon>
        </button>        
    </ion-buttons>

  </ion-navbar>
</ion-header>

<ion-content padding>
  
  <ion-list no-lines>
    <ion-item>
      <button ion-button icon-start [navPush]="matchPage">
        <ion-icon name="football"></ion-icon>
        <h2>Ir al partido</h2>
      </button>
    </ion-item>
    <div *ngIf="isAdmin">
      <ion-item>
        <button ion-button icon-start [navPush]="createMatchPage">
          <ion-icon name="cloud-upload"></ion-icon>
          <h2>Crear nuevo partido</h2>
        </button>
      </ion-item>
      <ion-item>
        <button ion-button icon-start [navPush]="editMatchPage">
          <ion-icon name="color-palette"></ion-icon>
          <h2>Editar partido actual</h2>
        </button>
      </ion-item>
    </div>
    
  </ion-list>  

  
</ion-content>
