<ion-header>

  <ion-navbar>
    <ion-title>Partido</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content
        pullingIcon="arrow-dropdown"
        pullingText="Tire para refrescar"
        refreshingSpinner="circles"
        refreshingText="Refrescando...">
    </ion-refresher-content>
    </ion-refresher>
  <ion-grid>
    <ion-row>
      <ion-col col-sm>
          <ion-card *ngIf="match">
              <!-- Check h&w -->
              <img src="assets/imgs/cancha.jpg">
              <ion-item>
                <ion-icon name="pin" item-start large></ion-icon>
                <h2>{{match.locationTitle}}</h2>
                <p>{{match.matchDate | date:'short'}}</p>
              </ion-item>
              <ion-item>
                <ion-icon name="people" item-start large ></ion-icon>
                <h2>{{subscriptions}} / {{match.playerLimit}}</h2>
              </ion-item>
          
              <ion-item>
                <button ion-button icon-start (click)="openMap()">
                  <ion-icon name="navigate"></ion-icon>
                  Ver ubicación 
                </button>
              </ion-item>
            </ion-card>
            
            <div *ngIf="match">
              <div *ngIf="user && match.open">
                <ion-row>
                  <ion-badge item-end *ngIf="hasSignedUp" color="secondary">Anotado</ion-badge>
                  <ion-badge item-end *ngIf="!hasSignedUp" color="danger">Sin anotar</ion-badge>
                </ion-row>
                <ion-row>
                  <button ion-button icon-start *ngIf="hasSignedUp" (click)="dismiss()">
                    <ion-icon name="thumbs-down"></ion-icon>
                    Bajarse
                  </button>
                  <button ion-button icon-start *ngIf="!hasSignedUp" (click)="signUp()">
                    <ion-icon name="thumbs-up"></ion-icon>
                    Anotarse
                  </button>
                </ion-row>
              </div>
              <div *ngIf="user && !match.open">
                <ion-row>
                  <ion-badge item-end color="danger">El partido está cerrado.</ion-badge>
                </ion-row>
              </div>
            </div>
          
      </ion-col>
      <ion-col col-sm>
        <ion-list no-lines *ngIf="match">
            <ion-item *ngFor="let player of match.players">
              <ion-avatar item-start>
                <img src="assets/imgs/GenericAvatar.png">
              </ion-avatar>
                <h2>{{player.user}}</h2>
                <p>{{player.subscriptionDate | date:'short'}}</p>
                <!-- <ion-col>
                  <button *ngIf="isAdmin" (click)="kick(player, match)" ion-button icon-start clear small>
                    <ion-icon name="close"></ion-icon>
                    <div>Kick</div>
                  </button>
                </ion-col>                      -->
            </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>

